{% extends 'base.html'%}
{% block content %}

<h1 class="titulo-section">Nuestros Proyectos</h1>
<div class="container"> <!-- opcional, para mantener márgenes -->
    <div class="row proyect-container2">
        {% for i in proyectos %}
        <div class="col-12 col-md-4 col-lg-3 mb-5 d-flex justify-content-center align-items-center">
            <div class="proyect-card w-100">
                <div class="proyect-img-wrapper">
                    <img src="{{ url_for('static', filename=i.imagen.lstrip('/')) }}"
                        alt="{{ i.titulo }}"
                        class="proyect-img img-fluid"
                        data-bs-toggle="modal"
                        data-bs-target="#modal{{ i.id }}">
                </div>
                    <div class="proyect-info">
                    <h3 class="proyect-title">{{ i.titulo }}</h3>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modal{{ i.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{ i.titulo }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img class="proyect-img img-fluid" src="{{ url_for('static', filename=i.imagen.lstrip('/')) }}" alt="">
                            <h4 class="modal-descrip">{{ i.descrip }}</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}